beautifulsoup4==4.11.1
Fiona==1.8.21
folium==0.12.1.post1
geonetworkx==0.5.3
geopandas==0.10.2
geopy==2.2.0
geos==0.2.3
haversine==2.5.1
matplotlib==0.2.3
networkx==2.8.3
numpy==1.22.4
osmnx==1.2.0
pandas==1.4.2
Pillow==9.1.1
plotly==5.8.1
requests==2.27.1
scikit_learn==1.1.1
scipy==1.8.1
Scrapy==2.6.1
seaborn==0.11.2
Shapely==1.6.3
statsmodels==0.12.2
streamlit==1.10.0
streamlit_folium==0.6.13
xgboost==1.6.1
